.letter {
  position: absolute;
  font-family: "Bigger", sans-serif;
  font-size: 14rem;
  font-weight: bold;
  color: #00ff9d;
  z-index: 2;
  transform-style: preserve-3d;
  transform-origin: center;
  will-change: transform;
}

@font-face {
  font-family: 'Bigger';
  src: url('/fonts/Bigger-Display.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#grid-canvas,
#letters-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#grid-canvas {
  z-index: 0;
}

#letters-canvas {
  z-index: 1;
} 